.container{
    display: flex;
    flex-direction: row;
   justify-content: center;
   gap:2px;
    background-color:rgba(0, 0, 0, 0.200);
   
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    /* CSS code for tablets */
    .container{
  
        display: flex;
        flex-direction:column;
       justify-content: center;
       width: 100%;
       height: auto;
      
    }
  }