*{
    font-family: Arial, Helvetica, sans-serif;
}
.home {
    margin-top:1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: vh;
    background-color:rgba(0, 0, 0, 0.200);
    padding: 1rem;
  }
  .blogs{
    transform: scaleX(-1);
    padding: 1rem;
    position: absolute;
    background-color: rgb(6, 114, 185);;

    color: beige;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: bolder;

  }
  .blogs:hover{

    background-color:#4C3E60;;
    color: beige;
    transform:rotateX('45deg');
  }
  .logos {
    align-items: center;
    width: 50%;
    height: auto;
    margin-top:1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1rem;
    transform: scaleX(-1);
  }
  .logos #animee {

    height: 70vh;

  }
  
  .head {
   
   display: flex;
   justify-content: center;
   flex-direction: column;
   border:1px solid #6d0df300;
   text-decoration: none;
   color: aliceblue;
   font-size: 2rem;
   border-radius: 5px;
   font-weight: bolder;

  }
  
  .head span {
    font-size: 2rem;
    color: #fff;
  }
  
  .head h1 {
    font-size: 3rem;
    color: #fff;
    margin: 0.5rem 0;
  }
  
  .head p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  