.leftside {
    background-color: transparent;
    color: #fff;
    padding: 1rem;
  }
  
  .leftside h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .leftside ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .leftside li {
    margin-bottom: 1.5rem;
  }
  
  .leftside h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  .leftside p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .leftside a.readmore {
    display: inline-block;
    background-color: #fff;
    color: #4C3E60;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .leftside a.readmore:hover {
    background-color: #fff;
    color: #6C5090;
  }
  